.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  padding: 2rem;
  padding-top: 10rem;
}

.content nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #282c34;
  padding: 1rem;
}

.content nav ul li a {
  text-decoration: none;
  color: #d3d3d3;
}

.content nav ul li a:hover {
  text-decoration: underline;
}